#footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 400px;
}


#social-networks{
    display: flex;
}

.social{ 
    margin: 10px 9px;
    font-size: 20px;
}

.social:hover{ 
    transform: scale(1.1);
}


#footer span{ 
    font-size: 20px;
    font-weight: 500;
}

.col-footer{
    margin-top: 70px;
}